# Βασικές Μεταβλητές

Στην Python δεν δηλώνουμε πουθενά μεταβλητές και τύπους αυτών, μπορούμε ανά πάσα στιγμή να εκχωρήσουμε μια τιμή σε ένα όνομα.

Για παράδειγμα, μπορούμε να ορίσουμε τη μεταβλητή year με την τιμή 2017 και να την τυπώσουμε με τη συνάρτηση print(year) ή να τυπώσουμε απευθείας τη χρονιά print(2017)

In [375]:
print(2017)

year = 2017
print(year)

2017
2017

In [376]:
print(year + 1)
print(year)

2018
2017

In [377]:
year = year + 1
print(year)

2018

In [378]:
year = 'δύο χιλιάδες δέκα επτά'
print(year)

δύο χιλιάδες δέκα επτά

In [379]:
h = 'Hello'
w = 'World'
print(h,w)

Hello World

#### Ποια είναι η διαφορά στις δύο επόμενες συναρτήσεις;

In [380]:
print('Το έτος είναι', year)

Το έτος είναι δύο χιλιάδες δέκα επτά

In [381]:
print('Το έτος είναι' + year)

Το έτος είναιδύο χιλιάδες δέκα επτά

In [382]:
year = 2017
#print('Το έτος είναι ' + year)

In [383]:
print('Το έτος είναι ' + str(year))
print('Το έτος είναι', year)

Το έτος είναι 2017
Το έτος είναι 2017

### Int vs Str

In [384]:
a = 2017
b = '2017'
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [385]:
print(a + 1)
print(int(b) + 1)

2018
2018

# Boolean

In [386]:
a = True
b = False
print(a, b)
type(a)

True False

bool

####  Προσοχή!

Οι μεταβλητές Boolean γράφονται πάντα με κεφαλαίο το πρώτο γράμμα. Οι operators που χρησιμοποιούμε είναι:

* ==
* !=
* >
* \>=
* <
* <=
* in

In [387]:
#c = true

In [388]:
a == True

True

In [389]:
a == False

False

In [390]:
a == b

False

In [391]:
5 > 3

True

In [392]:
x = 5
x == 3 + 2

True

In [393]:
x != 3 + 2

False

In [423]:
3 in [1,2,3,4,5]

True

# Μαθηματικές πράξεις

Η σειρά των πράξεων είναι ίδια με αυτήν της κλασσικής αριθμητικής

In [394]:
print((749 + 371 + 828 + 503 + 1379)/5)

766.0

# Λίστες

Οι λίστες της Python έχουν δυναμικό μέγεθος και τα αντικείμενά τους είναι οποιουδήποτε τύπου

In [395]:
empty_list = []
print(empty_list)

[]

In [396]:
my_list = [2017, 2018, 'μπανάνα', 'data', True]
print(my_list)

[2017, 2018, 'μπανάνα', 'data', True]

In [397]:
type(my_list)

list

#### Το μέγεθος της λίστας το επιστρέφει η συνάρτηση len(my_list)

In [398]:
print(len(my_list))

5

### Αρίθμηση λίστας

Μπορούμε να επιστρέψουμε όποιο στοιχείο θέλουμε από την λίστα χρησιμοποιόντας τη θέση που βρίσκεται σε αυτήν. Προσοχή!!! Η αρίθμηση ξεκινάει από 0 και όχι από 1

In [399]:
print(my_list[0])
print(my_list[2])

2017
μπανάνα

#### Και αντίστροφα ;)
Μπορούμε και ανάποδα ξεκινώντας από το -1

In [400]:
print(my_list[-1])
print(my_list[-4])

True
2018

### Προσθήκη και αφαίρεση στοιχείων από τη λίστα

Μπορούμε να προσθέσουμε στο τέλος της λίστας ένα στοιχείο με την εντολή my_list.append(4) ή να αφαιρέσουμε ένα με my_list.remove('μπανάνα')

In [401]:
my_list.append(4)
print(my_list)

[2017, 2018, 'μπανάνα', 'data', True, 4]

In [402]:
my_list.remove('μπανάνα')
print(my_list)

[2017, 2018, 'data', True, 4]

### Άσκηση

1. Δημιουργήστε 2 κενές λίστες. Η πρώτη να λέγεται cities και η δεύτερη populations
2. Με χρήση της append προσθέστε 5 πόλεις της Ελλάδας
3. Αφού βρείτε τον πληθυσμό των πόλεων από τη Wikipedia, συμπληρώστε και τη δεύτερη λίστα με την ίδια σειρά
4. Τυπώστε τη δεύτερη πόλη μαζί με τον πληθυσμό της στη μορφή "Καβάλα: 80000"

In [403]:
# Η λύση της άσκησης

### Υπολίστες

Μπορούμε να επιλέξουμε οποιοδήποτε κομμάτι της λίστας. Όχι μόνο ένα στοιχείο όπως προηγουμένως, αλλά πολλά μαζί.

In [404]:
my_list[0:3]

[2017, 2018, 'data']

#### Προσοχή!

Το τελευταίο στοιχείο λείπει! Έχουν επιστραφεί τα στοιχεία στις θέσεις 0, 1 και 2.

In [405]:
my_list[:3]

[2017, 2018, 'data']

In [406]:
my_list[3:]

[True, 4]

### Λίστες μέσα σε λίστες

In [407]:
list_of_lists = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [408]:
type(list_of_lists)

list

### Split & Join

In [409]:
years = '2017,2018,2019,2020'
years.split(",")

['2017', '2018', '2019', '2020']

In [410]:
another_list = ['Hello', 'World']
' '.join(another_list)

'Hello World'

### Άνοιγμα αρχείων

Τα αρχεία τα ανοίγουμε με την εντολή open(file, "r"). Το "r" δηλώνει ότι πρόκειται μόνο για read. Αν είχε "w" θα είχαμε δικαιώματα για να γράψουμε και στο αρχείο νέα δεδομένα. Αφού ανοίξουμε το αρχείο, για να μπορούμε να το επεξεργαστούμε, πρέπει να το "διαβάσουμε"

In [411]:
f = open("crime_rates.csv", "r")
data = f.read()
print(data)

Albuquerque,749
Anaheim,371
Anchorage,828
Arlington,503
Atlanta,1379
Aurora,425
Austin,408
Bakersfield,542
Baltimore,1405
Boston,835
Buffalo,1288
Charlotte-Mecklenburg,647
Cincinnati,974
Cleveland,1383
Colorado Springs,455
Corpus Christi,658
Dallas,675
Denver,615
Detroit,2122
El Paso,423
Fort Wayne,362
Fort Worth,587
Fresno,543
Greensboro,563
Henderson,168
Houston,992
Indianapolis,1185
Jacksonville,617
Jersey City,734
Kansas City,1263
Las Vegas,784
Lexington,352
Lincoln,397
Long Beach,575
Los Angeles,481
Louisville Metro,598
Memphis,1750
Mesa,399
Miami,1172
Milwaukee,1294
Minneapolis,992
Mobile,522
Nashville,1216
New Orleans,815
New York,639
Newark,1154
Oakland,1993
Oklahoma City,919
Omaha,594
Philadelphia,1160
Phoenix,636
Pittsburgh,752
Plano,130
Portland,517
Raleigh,423
Riverside,443
Sacramento,738
San Antonio,503
San Diego,413
San Francisco,704
San Jose,363
Santa Ana,401
Seattle,597
St. Louis,1776
St. Paul,722
Stockton,1548
Tampa,616
Toledo,1171
Tucson,724
Tulsa,990
Virginia Beach,169
Washington,1177
Wichita,742

In [412]:
rows = data.split('\n')
print(rows[0:5])

['Albuquerque,749', 'Anaheim,371', 'Anchorage,828', 'Arlington,503', 'Atlanta,1379']

### For Loop

In [413]:
ten_rows = rows[0:10]
for row in ten_rows:
    print(row)

Albuquerque,749
Anaheim,371
Anchorage,828
Arlington,503
Atlanta,1379
Aurora,425
Austin,408
Bakersfield,542
Baltimore,1405
Boston,835

### Range

Με την εντολή range μπορώ να έχω μία λίστα αριθμών με το εύρος και βήμα που ορίζω εγώ

In [414]:
for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [415]:
for j in range(5,10):
    print(j,end=',')

5,6,7,8,9,

In [416]:
for k in range(0,10,2):
    print(k,end=',')

0,2,4,6,8,



### Άσκηση

Να βρεθεί ο 15ος αριθμός Fibonacci αν γνωρίζετε ότι ο 1ος και 2ος είναι ίσος με 1 και κάθε επόμενος προκύπτει από το άθροισμα των δύο προηγούμενων

In [417]:
a1 = 1
a2 = 1
a3 = 0
for i in range(2,15):
    a3 = a1 + a2
    a1 = a2
    a2 = a3
print(a3)

610

### Υπολίστες

In [418]:
crimes = []
for row in rows:
    split_list = row.split(',')
    crimes.append(split_list)
print(crimes[:5])

[['Albuquerque', '749'], ['Anaheim', '371'], ['Anchorage', '828'], ['Arlington', '503'], ['Atlanta', '1379']]

Η υπολίστα με την πόλη Atlanta είναι στη θέση 4. Οπότε αν θέλουμε να τυπώσουμε την τιμή 1379, πρέπει πρώτα να πάρουμε την υπολίστα και μετά το δεύτερο στοιχείο από αυτήν.

In [419]:
print(crimes[4][1])

1379

### If statements

Όταν θέλω να συγκρίνω δύο μεταβλητές, χρησιμοποιώ την If, else

In [420]:
my_favourite_fruit = "orange"

if my_favourite_fruit == "orange":
    print('You are lucky')

You are lucky

In [421]:
my_favourite_fruit = "apple"

if my_favourite_fruit == "orange":
    print('You are lucky')
else:
    print('Damn...')

Damn...

In [422]:
grade = 65
if grade > 90:
    print('Well done')
elif grade > 80:
    print('Μπορείς και καλύτερα')
elif grade > 70:
    print('Θες βελτίωση')
else:
    print('Δυστυχώς ξανά προσπάθησε')

Δυστυχώς ξανά προσπάθησε

### Άσκηση

Να βρεθεί η πόλη με την μεγαλύτερη εγκληματικότητα. Προσοχή στους τύπους μεταβλητών!

In [428]:
max_crime = 0
max_city = ''
for row in rows:
    city = row.split(',')
    if int(city[1]) > max_crime:
        max_crime = int(city[1])
        max_city = city[0]
print(max_city, max_crime)

Detroit 2122

### Άσκηση

1. Να βρεθεί dataset με όλες τις πόλεις και τον πληθυσμό τους
2. Να βρεθεί η πόλη με τον μικρότερο πληθυσμό

In [435]:
g = open("populations.csv", "r", encoding="utf8")
data = g.read().split('\n')
smallest_city = ''
smallest_pop = 9999999999999999
for row in data[1:-2]:
    city = row.split(',')
    if float(city[4]) < smallest_pop:
        smallest_pop = float(city[4])
        smallest_city = city[0]
print(smallest_city, smallest_pop)

Fortin Falcon -99.0

## Πικρή Αλήθεια

Το μεγαλύτερο ποσοστό των dataset περιέχουν λάθη που πρέπει εμείς να βρούμε και να αποφασίσουμε τι θα τα κάνουμε :(

## Λεξικά

Μια άλλη μορφή δεδομένων είναι τα Λεξικά (Dictionaries) και χρησιμοποιούνται για να βρίσκουμε εύκολα ένα αντικείμενο με βάση κάποιο κλειδί

In [436]:
dictionary = {}
dictionary[1] = 'one'
dictionary['a_list'] = [1,2,3,4]
dictionary['a_boolean'] = True
dictionary['a_number'] = 5
print(dictionary)

{1: 'one', 'a_list': [1, 2, 3, 4], 'a_boolean': True, 'a_number': 5}

In [439]:
f = open("crime_rates.csv", "r")
data = f.read().split('\n')
cities = {}
for row in data:
    city = row.split(',')
    cities[city[0]] = city[1]
    
sorted(cities.items(), key=lambda x:x[1])

[('Newark', '1154'),
 ('Philadelphia', '1160'),
 ('Toledo', '1171'),
 ('Miami', '1172'),
 ('Washington', '1177'),
 ('Indianapolis', '1185'),
 ('Nashville', '1216'),
 ('Kansas City', '1263'),
 ('Buffalo', '1288'),
 ('Milwaukee', '1294'),
 ('Plano', '130'),
 ('Atlanta', '1379'),
 ('Cleveland', '1383'),
 ('Baltimore', '1405'),
 ('Stockton', '1548'),
 ('Henderson', '168'),
 ('Virginia Beach', '169'),
 ('Memphis', '1750'),
 ('St. Louis', '1776'),
 ('Oakland', '1993'),
 ('Detroit', '2122'),
 ('Lexington', '352'),
 ('Fort Wayne', '362'),
 ('San Jose', '363'),
 ('Anaheim', '371'),
 ('Lincoln', '397'),
 ('Mesa', '399'),
 ('Santa Ana', '401'),
 ('Austin', '408'),
 ('San Diego', '413'),
 ('El Paso', '423'),
 ('Raleigh', '423'),
 ('Aurora', '425'),
 ('Riverside', '443'),
 ('Colorado Springs', '455'),
 ('Los Angeles', '481'),
 ('Arlington', '503'),
 ('San Antonio', '503'),
 ('Portland', '517'),
 ('Mobile', '522'),
 ('Bakersfield', '542'),
 ('Fresno', '543'),
 ('Greensboro', '563'),
 ('Long Beach', '575'),
 ('Fort Worth', '587'),
 ('Omaha', '594'),
 ('Seattle', '597'),
 ('Louisville Metro', '598'),
 ('Denver', '615'),
 ('Tampa', '616'),
 ('Jacksonville', '617'),
 ('Phoenix', '636'),
 ('New York', '639'),
 ('Charlotte-Mecklenburg', '647'),
 ('Corpus Christi', '658'),
 ('Dallas', '675'),
 ('San Francisco', '704'),
 ('St. Paul', '722'),
 ('Tucson', '724'),
 ('Jersey City', '734'),
 ('Sacramento', '738'),
 ('Wichita', '742'),
 ('Albuquerque', '749'),
 ('Pittsburgh', '752'),
 ('Las Vegas', '784'),
 ('New Orleans', '815'),
 ('Anchorage', '828'),
 ('Boston', '835'),
 ('Oklahoma City', '919'),
 ('Cincinnati', '974'),
 ('Tulsa', '990'),
 ('Houston', '992'),
 ('Minneapolis', '992')]

In [440]:
'Boston' in cities

True

In [441]:
'Thessaloniki' in cities

False

In [442]:
the_list = [1,5,2,6,7,3,2,4,6,8,9,3,2,6,8,9,5,4,3,4,6,8,9,5,4]
numbers = {}
for i in the_list:
    if i in numbers:
        numbers[i] += 1
    else:
        numbers[i] = 1
print(numbers)

{1: 1, 5: 3, 2: 3, 6: 4, 7: 1, 3: 3, 4: 4, 8: 3, 9: 3}

## Συναρτήσεις

Πάντα προσπαθούμε να σπάσουμε τον κώδικά μας σε συναρτήσεις. Όσο μεγαλώνει το project, θα γίνεται όλο και πιο δύσκολη η συντήρηση και οι αλλαγές που θα θέλουμε να κάνουμε.

In [448]:
def my_function(a, b = 5):
    if a > 0:
        b = a + b
    else:
        b = -3 * a + b
    return b

r1 = my_function(5)
r2 = my_function(-5)
r3 = my_function(5,10)
print(r1, r2, r3)

10 20 15

### Άσκηση

Να γραφτεί συνάρτηση που θα δέχεται λίστα και θα επιστρέφει το μέγιστο. Για ευκολία, θεωρούμε ότι η λίστα θα περιέχει μόνο αριθμούς.

In [ ]:
#Λύση

## Επαναληπτική άσκηση

1. Διαβάζουμε το αρχείο births.csv
2. Το φέρνουμε σε μορφή list of lists
3. Ποια ήταν η χρονιά με τις περισσότερες γέννες;
4. Ποια είναι η κατανομή γεννών ανά μήνα;

Για το 4, το επιθυμητό αποτέλεσμα είναι:

January: 15%
February: 8%
March: 7%
...
...