## Dataframe

In [35]:
import pandas as pd
df = pd.read_csv("populations.csv")
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### .head(x)

Για μια γρήγορα ματιά στο dataframe χρησιμοποιούμε τo df.head(x) όπου x είναι ο αριθμός των γραμμών που θέλουν να τυπωθούν

In [36]:
print(df.head(5))

            city   city_ascii        lat        lng       pop      country  \
0  Qal eh-ye Now    Qal eh-ye  34.983000  63.133300    2997.0  Afghanistan
1    Chaghcharan  Chaghcharan  34.516701  65.250001   15000.0  Afghanistan
2    Lashkar Gah  Lashkar Gah  31.582998  64.360000  201546.0  Afghanistan
3         Zaranj       Zaranj  31.112001  61.886998   49851.0  Afghanistan
4     Tarin Kowt   Tarin Kowt  32.633298  65.866699   10000.0  Afghanistan

  iso2 iso3 province
0   AF  AFG  Badghis
1   AF  AFG     Ghor
2   AF  AFG  Hilmand
3   AF  AFG   Nimroz
4   AF  AFG  Uruzgan

### .loc

Για να επιστρέψουμε συγκεκριμένη σειρά του dataframe αρκεί να χρησιμοποιήσουμε τη df.loc[x] όπου x o αριθμός της σειράς ξεκινώντας από το 0

In [37]:
print(df.loc[0])
print(df.loc[3])

city          Qal eh-ye Now
city_ascii        Qal eh-ye
lat                  34.983
lng                 63.1333
pop                    2997
country         Afghanistan
iso2                     AF
iso3                    AFG
province            Badghis
Name: 0, dtype: object
city               Zaranj
city_ascii         Zaranj
lat                31.112
lng                61.887
pop                 49851
country       Afghanistan
iso2                   AF
iso3                  AFG
province           Nimroz
Name: 3, dtype: object

In [38]:
print(df.loc[:3])

            city   city_ascii        lat        lng       pop      country  \
0  Qal eh-ye Now    Qal eh-ye  34.983000  63.133300    2997.0  Afghanistan
1    Chaghcharan  Chaghcharan  34.516701  65.250001   15000.0  Afghanistan
2    Lashkar Gah  Lashkar Gah  31.582998  64.360000  201546.0  Afghanistan
3         Zaranj       Zaranj  31.112001  61.886998   49851.0  Afghanistan

  iso2 iso3 province
0   AF  AFG  Badghis
1   AF  AFG     Ghor
2   AF  AFG  Hilmand
3   AF  AFG   Nimroz

In [39]:
print(df.loc[[0,5,10,20]])

             city    city_ascii        lat        lng       pop      country  \
0   Qal eh-ye Now     Qal eh-ye  34.983000  63.133300    2997.0  Afghanistan
5    Zareh Sharan  Zareh Sharan  32.850000  68.416705   13737.0  Afghanistan
10   Baraki Barak  Baraki Barak  33.966702  68.966704   22305.0  Afghanistan
20         Ghazni        Ghazni  33.563312  68.417829  129892.5  Afghanistan

   iso2 iso3 province
0    AF  AFG  Badghis
5    AF  AFG  Paktika
10   AF  AFG    Logar
20   AF  AFG   Ghazni

### last 5 rows

In [40]:
rows = df.shape[0]
print(df.loc[rows-5:])

             city   city_ascii        lat        lng        pop   country  \
7317       Mutare       Mutare -18.970019  32.650038   216785.0  Zimbabwe
7318       Kadoma       Kadoma -18.330006  29.909947    56400.0  Zimbabwe
7319  Chitungwiza  Chitungwiza -18.000001  31.100003   331071.0  Zimbabwe
7320       Harare       Harare -17.817790  31.044709  1557406.5  Zimbabwe
7321     Bulawayo     Bulawayo -20.169998  28.580002   697096.0  Zimbabwe

     iso2 iso3          province
7317   ZW  ZWE        Manicaland
7318   ZW  ZWE  Mashonaland West
7319   ZW  ZWE            Harare
7320   ZW  ZWE            Harare
7321   ZW  ZWE          Bulawayo

### Στήλες

In [41]:
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
12      Afghanistan
13      Afghanistan
14      Afghanistan
15      Afghanistan
16      Afghanistan
17      Afghanistan
18      Afghanistan
19      Afghanistan
20      Afghanistan
21      Afghanistan
22      Afghanistan
23      Afghanistan
24      Afghanistan
25      Afghanistan
26      Afghanistan
27      Afghanistan
28      Afghanistan
29      Afghanistan
           ...
7292         Zambia
7293         Zambia
7294         Zambia
7295         Zambia
7296         Zambia
7297         Zambia
7298         Zambia
7299         Zambia
7300         Zambia
7301         Zambia
7302       Zimbabwe
7303       Zimbabwe
7304       Zimbabwe
7305       Zimbabwe
7306       Zimbabwe
7307       Zimbabwe
7308       Zimbabwe
7309       Zimbabwe
7310       Zimbabwe
7311       Zimbabwe
7312       Zimbabwe
7313       Zimbabwe
7314       Zimbabwe
7315       Zimbabwe
7316       Zimbabwe
7317       Zimbabwe
7318       Zimbabwe
7319       Zimbabwe
7320       Zimbabwe
7321       Zimbabwe
Name: country, Length: 7322, dtype: object

In [42]:
df[['country', 'pop']]

          country        pop
0     Afghanistan     2997.0
1     Afghanistan    15000.0
2     Afghanistan   201546.0
3     Afghanistan    49851.0
4     Afghanistan    10000.0
5     Afghanistan    13737.0
6     Afghanistan    48400.0
7     Afghanistan    64256.0
8     Afghanistan     7407.0
9     Afghanistan    17345.0
10    Afghanistan    22305.0
11    Afghanistan    24000.0
12    Afghanistan    35008.0
13    Afghanistan    14388.5
14    Afghanistan    74441.0
15    Afghanistan    41029.0
16    Afghanistan   147426.0
17    Afghanistan   199795.0
18    Afghanistan    50469.0
19    Afghanistan    12191.0
20    Afghanistan   129892.5
21    Afghanistan    52490.0
22    Afghanistan   210855.5
23    Afghanistan   401697.0
24    Afghanistan    53676.0
25    Afghanistan    82680.5
26    Afghanistan    61863.0
27    Afghanistan   163598.5
28    Afghanistan    58604.0
29    Afghanistan   439232.5
...           ...        ...
7292       Zambia   132679.0
7293       Zambia   395428.5
7294       Zambia     4987.5
7295       Zambia    25725.5
7296       Zambia    57874.5
7297       Zambia   188667.0
7298       Zambia   137062.0
7299       Zambia   402907.5
7300       Zambia   137341.5
7301       Zambia  1297720.0
7302     Zimbabwe     9966.0
7303     Zimbabwe     8521.0
7304     Zimbabwe    23964.5
7305     Zimbabwe    34557.5
7306     Zimbabwe    80788.0
7307     Zimbabwe     1959.5
7308     Zimbabwe    13759.5
7309     Zimbabwe     8252.5
7310     Zimbabwe    17816.5
7311     Zimbabwe    76300.5
7312     Zimbabwe    13194.0
7313     Zimbabwe    52812.0
7314     Zimbabwe    23133.5
7315     Zimbabwe    33599.5
7316     Zimbabwe   164715.5
7317     Zimbabwe   216785.0
7318     Zimbabwe    56400.0
7319     Zimbabwe   331071.0
7320     Zimbabwe  1557406.5
7321     Zimbabwe   697096.0

[7322 rows x 2 columns]

In [43]:
df.columns

Index(['city', 'city_ascii', 'lat', 'lng', 'pop', 'country', 'iso2', 'iso3',
       'province'],
      dtype='object')

In [44]:
df.columns.tolist()

['city',
 'city_ascii',
 'lat',
 'lng',
 'pop',
 'country',
 'iso2',
 'iso3',
 'province']

### Πράξεις

In [45]:
pop = df['pop']/1000
pop

0          2.9970
1         15.0000
2        201.5460
3         49.8510
4         10.0000
5         13.7370
6         48.4000
7         64.2560
8          7.4070
9         17.3450
10        22.3050
11        24.0000
12        35.0080
13        14.3885
14        74.4410
15        41.0290
16       147.4260
17       199.7950
18        50.4690
19        12.1910
20       129.8925
21        52.4900
22       210.8555
23       401.6970
24        53.6760
25        82.6805
26        61.8630
27       163.5985
28        58.6040
29       439.2325
          ...
7292     132.6790
7293     395.4285
7294       4.9875
7295      25.7255
7296      57.8745
7297     188.6670
7298     137.0620
7299     402.9075
7300     137.3415
7301    1297.7200
7302       9.9660
7303       8.5210
7304      23.9645
7305      34.5575
7306      80.7880
7307       1.9595
7308      13.7595
7309       8.2525
7310      17.8165
7311      76.3005
7312      13.1940
7313      52.8120
7314      23.1335
7315      33.5995
7316     164.7155
7317     216.7850
7318      56.4000
7319     331.0710
7320    1557.4065
7321     697.0960
Name: pop, Length: 7322, dtype: float64

In [46]:
city_country = df['city'] + '-' +  df['country']
city_country

0        Qal eh-ye Now-Afghanistan
1          Chaghcharan-Afghanistan
2          Lashkar Gah-Afghanistan
3               Zaranj-Afghanistan
4           Tarin Kowt-Afghanistan
5         Zareh Sharan-Afghanistan
6             Asadabad-Afghanistan
7              Taloqan-Afghanistan
8       Mahmud-E Eraqi-Afghanistan
9           Mehtar Lam-Afghanistan
10        Baraki Barak-Afghanistan
11               Aybak-Afghanistan
12         Mayda Shahr-Afghanistan
13              Karokh-Afghanistan
14          Sheberghan-Afghanistan
15        Pol-e Khomri-Afghanistan
16               Balkh-Afghanistan
17            Meymaneh-Afghanistan
18            Andkhvoy-Afghanistan
19               Qalat-Afghanistan
20              Ghazni-Afghanistan
21            Feyzabad-Afghanistan
22              Kondoz-Afghanistan
23           Jalalabad-Afghanistan
24            Charikar-Afghanistan
25              Gardiz-Afghanistan
26              Bamian-Afghanistan
27             Baghlan-Afghanistan
28               Farah-Afghanistan
29               Herat-Afghanistan
                   ...
7292               Luanshya-Zambia
7293                  Ndola-Zambia
7294                Zambezi-Zambia
7295                  Kafue-Zambia
7296               Mazabuka-Zambia
7297                  Kabwe-Zambia
7298               Mufulira-Zambia
7299                  Kitwe-Zambia
7300            Livingstone-Zambia
7301                 Lusaka-Zambia
7302               Mazowe-Zimbabwe
7303               Shamva-Zimbabwe
7304       Victoria Falls-Zimbabwe
7305           Zvishavane-Zimbabwe
7306               Kwekwe-Zimbabwe
7307             Plumtree-Zimbabwe
7308           Beitbridge-Zimbabwe
7309               Gwanda-Zimbabwe
7310             Chiredzi-Zimbabwe
7311             Masvingo-Zimbabwe
7312                Karoi-Zimbabwe
7313             Chinhoyi-Zimbabwe
7314               Kariba-Zimbabwe
7315               Hwange-Zimbabwe
7316                Gweru-Zimbabwe
7317               Mutare-Zimbabwe
7318               Kadoma-Zimbabwe
7319          Chitungwiza-Zimbabwe
7320               Harare-Zimbabwe
7321             Bulawayo-Zimbabwe
Length: 7322, dtype: object

### max, min, sum, mean

In [47]:
print(df['pop'].max(),
df['pop'].min(),
df['pop'].sum(),
df['pop'].mean())

22006299.5 -99.0 1943720610.5 265463.0716334335

### sorting

In [48]:
df.sort_values('pop',ascending=False)

,city,city_ascii,lat,lng,pop,country,iso2,iso3,province
3492,Tokyo,Tokyo,35.685017,139.751407,22006299.5,Japan,JP,JPN,Tokyo
3110,Mumbai,Mumbai,19.016990,72.856989,15834918.0,India,IN,IND,Maharashtra
4074,Mexico City,Mexico City,19.442442,-99.130988,14919501.0,Mexico,MX,MEX,Distrito Federal
2068,Shanghai,Shanghai,31.216452,121.436505,14797756.0,China,CN,CHN,Shanghai
1171,Sao Paulo,Sao Paulo,-23.558680,-46.625020,14433147.5,Brazil,BR,BRA,São Paulo
7071,New York,New York,40.749979,-73.980017,13524139.0,United States of America,US,USA,New York
4513,Karachi,Karachi,24.869992,66.990009,11877109.5,Pakistan,PK,PAK,Sind
360,Buenos Aires,Buenos Aires,-34.602502,-58.397531,11862073.0,Argentina,AR,ARG,Ciudad de Buenos Aires
3098,Delhi,Delhi,28.669993,77.230004,11779606.5,India,IN,IND,Delhi
5394,Moscow,Moscow,55.752164,37.615523,10452000.0,Russia,RU,RUS,Moskva
6124,Istanbul,Istanbul,41.104996,29.010002,10003305.0,Turkey,TR,TUR,Istanbul
636,Dhaka,Dhaka,23.723060,90.408579,9899167.0,Bangladesh,BD,BGD,Dhaka
2442,Cairo,Cairo,30.049960,31.249968,9813807.0,Egypt,EG,EGY,Al Qahirah
5613,Seoul,Seoul,37.566349,126.999731,9796000.0,South Korea,KR,KOR,Seoul
3111,Kolkata,Kolkata,22.494969,88.324676,9709196.0,India,IN,IND,West Bengal
2067,Beijing,Beijing,39.928892,116.388286,9293300.5,China,CN,CHN,Beijing
3216,Jakarta,Jakarta,-6.174418,106.829438,8832560.5,Indonesia,ID,IDN,Jakarta Raya
7069,Los Angeles,Los Angeles,33.989978,-118.179980,8097410.0,United States of America,US,USA,California
6302,London,London,51.499995,-0.116722,7994104.5,United Kingdom,GB,GBR,Westminster
3279,Tehran,Tehran,35.671943,51.424344,7513154.5,Iran,IR,IRN,Tehran
4683,Lima,Lima,-12.048013,-77.050062,7385117.0,Peru,PE,PER,Lima
4721,Manila,Manila,14.604159,120.982217,7088787.5,Philippines,PH,PHL,Metropolitan Manila
2140,Bogota,Bogota,4.596424,-74.083344,7052830.5,Colombia,CO,COL,Bogota
3491,Osaka,Osaka,34.750035,135.460145,6943206.5,Japan,JP,JPN,Osaka
1170,Rio de Janeiro,Rio de Janeiro,-22.925023,-43.225021,6879087.5,Brazil,BR,BRA,Rio de Janeiro
2246,Kinshasa,Kinshasa,-4.329724,15.314972,6704351.5,Congo (Kinshasa),CD,COD,Kinshasa City
4512,Lahore,Lahore,31.559972,74.350025,6443944.0,Pakistan,PK,PAK,Punjab
2048,Guangzhou,Guangzhou,23.144981,113.325010,5990912.5,China,CN,CHN,Guangdong
3109,Bangalore,Bangalore,12.969995,77.560010,5945523.5,India,IN,IND,Karnataka
7068,Chicago,Chicago,41.829991,-87.750055,5915976.0,United States of America,US,USA,Illinois
...,...,...,...,...,...,...,...,...,...
5264,Khakhar,Khakhar,57.666595,135.430017,10.0,Russia,RU,RUS,Khabarovsk
5123,Shalaurova,Shalaurova,73.220374,143.183343,10.0,Russia,RU,RUS,Sakha (Yakutia)
5119,Nyukzha,Nyukzha,56.531212,121.613083,10.0,Russia,RU,RUS,Amur
5130,Tunguskhaya,Tunguskhaya,64.900443,125.250019,10.0,Russia,RU,RUS,Sakha (Yakutia)
5247,Chagda,Chagda,60.100012,133.899982,10.0,Russia,RU,RUS,Sakha (Yakutia)
5287,Rusanovo,Rusanovo,70.598074,56.372291,10.0,Russia,RU,RUS,Arkhangel'sk
4086,Hodrogo,Hodrogo,48.966428,96.783281,10.0,Mongolia,MN,MNG,Dzavhan
5278,Manily,Manily,62.549992,165.300029,10.0,Russia,RU,RUS,Kamchatka
4826,Zvezdnyy,Zvezdnyy,70.956585,-179.589979,10.0,Russia,RU,RUS,Chukchi Autonomous Okrug
5261,Olenek,Olenek,68.525002,112.450025,10.0,Russia,RU,RUS,Sakha (Yakutia)
717,Puerto Heath,Puerto Heath,-12.499613,-68.666569,10.0,Bolivia,BO,BOL,La Paz
5258,Sagastyr,Sagastyr,73.377933,126.592352,10.0,Russia,RU,RUS,Sakha (Yakutia)
5255,Menkere,Menkere,67.988601,123.350496,10.0,Russia,RU,RUS,Sakha (Yakutia)
3945,Sierra Mojada,Sierra Mojada,27.287571,-103.287194,10.0,Mexico,MX,MEX,Coahuila
5252,Terbyas,Terbyas,64.376082,120.546895,10.0,Russia,RU,RUS,Sakha (Yakutia)
4116,Dawra,Dawra,27.462909,-12.992189,10.0,Morocco,MA,MAR,Laâyoune - Boujdour - Sakia El Hamra
2755,Qeqertasuaq,Qeqertasuaq,69.244164,-53.565239,7.5,Greenland,GL,GRL,Qaasuitsup Kommunia
187,Svea Station,Svea Station,-74.582904,-11.216690,5.0,Antarctica,AQ,ATA,NaN
185,Wasa Station,Wasa Station,-73.049612,-13.416711,5.0,Antarctica,AQ,ATA,NaN
199,Signy Research Station,Signy Island,-60.631308,-45.600703,4.0,Antarctica,AQ,ATA,NaN
173,Elephant Island,"Elephant Island, South Shetland Islands",-61.999589,-57.999985,3.0,Antarctica,AQ,ATA,NaN
178,Peter I Island,Peter I Island,-68.832867,90.499995,0.5,Antarctica,AQ,ATA,NaN
5355,Ambarchik,Ambarchik,69.651006,162.333595,0.0,Russia,RU,RUS,Sakha (Yakutia)
5124,Logashkino,Logashkino,70.850390,153.900001,0.0,Russia,RU,RUS,Sakha (Yakutia)
5112,Nordvik,Nordvik,74.016501,111.510030,0.0,Russia,RU,RUS,Taymyr
607,Agdam,Agdam,40.905278,45.556389,0.0,Azerbaijan,AZ,AZE,Tovuz
6227,Chernobyl,Chernobyl,51.389407,30.098876,0.0,Ukraine,UA,UKR,Kiev
1471,Ennadai,Ennadai,61.133283,-100.883336,0.0,Canada,CA,CAN,Nunavut
4562,Fortin Falcon,Fortin Falcon,-23.050287,-59.849949,-99.0,Paraguay,PY,PRY,Presidente Hayes
5241,Kavache,Kavache,70.733291,136.216636,-99.0,Russia,RU,RUS,Sakha (Yakutia)

### NaN everywhere!!!

Όταν μία τιμή λείπει από τα δεδομένα μας, η pandas τη δηλώνει ως NaN για να μας διευκολύνει. Οπότε κάτι πρέπει να κάνουμε με αυτές τις τιμές :(

In [49]:
df = pd.read_csv("titanic.csv")

In [50]:
df.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [51]:
body_has_nulls = pd.isnull(df['body'])

In [52]:
body_has_nulls[:5]

0     True
1     True
2     True
3    False
4     True
Name: body, dtype: bool

In [53]:
body_nulls = df['body'][body_has_nulls]
body_nulls[:5]

0   NaN
1   NaN
2   NaN
4   NaN
5   NaN
Name: body, dtype: float64

In [54]:
print(len(body_nulls))
df.shape

1189

(1310, 14)

In [55]:
df['age'] = df['age'].fillna(df['age'].mean())
print(len(pd.isnull(df['age'])))

1310

In [56]:
df['fare'] = df['fare'].fillna(df['fare'].median())
print(len(pd.isnull(df['fare'])))

1310

In [60]:
df = df.dropna(axis=0, subset = ['body'])
df.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0,0.0,0.0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
39,1.0,0.0,"Brandeis, Mr. Emil",male,48.0,0.0,0.0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"

### Reset index after drop

In [ ]:
df = df.reset_index(drop=True)

### pivot table
By default επιστρέφει τη μέση τιμή της στήλης

In [58]:
df.pivot_table(index="pclass", values="survived")

        survived
pclass
1.0     0.619195
2.0     0.429603
3.0     0.255289

In [59]:
import numpy as np
df.pivot_table(index="embarked", values=["fare","survived"], aggfunc=np.sum)

                fare  survived
embarked
C         16830.7922     150.0
Q          1526.3085      44.0
S         25047.8404     304.0

In [ ]:
### Apply

Πολλές φορές χρειάζεται να εφαρμώσουμε περισσότερες των μία πράξεων στις στήλες. Σε αυτό βοηθάει η εντολή apply

In [62]:
df['ageSQRT'] = df['age'].apply(np.sqrt)
df.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,ageSQRT
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",5.477226
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay",8.426150
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY",6.855655
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0,0.0,0.0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA",5.000000
39,1.0,0.0,"Brandeis, Mr. Emil",male,48.0,0.0,0.0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE",6.928203

In [69]:
df['powFare'] = df['fare'].apply(lambda x: x**2)
df.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,ageSQRT,isBaby,powFare
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",5.477226,False,22967.402500
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay",8.426150,False,2450.665818
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY",6.855655,False,51767.625625
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0,0.0,0.0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA",5.000000,False,676.000000
39,1.0,0.0,"Brandeis, Mr. Emil",male,48.0,0.0,0.0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE",6.928203,False,2549.825818

Προσθέτοντας την παράμετρο axis=1 μπορούμε να εφαρμώσουμε την apply ανά σειρά

In [63]:
def is_a_baby(row):
    if row["age"] < 5:
        return True
    else:
        return False

df['isBaby'] = df.apply(is_a_baby, axis=1)
df.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,ageSQRT,isBaby
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",5.477226,False
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay",8.426150,False
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY",6.855655,False
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0,0.0,0.0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA",5.000000,False
39,1.0,0.0,"Brandeis, Mr. Emil",male,48.0,0.0,0.0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE",6.928203,False

In [64]:
df[df['age'] < 5]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,ageSQRT,isBaby
1096,3.0,0.0,"Palsson, Master. Gosta Leonard",male,2.0,3.0,1.0,349909,21.075,NaN,S,NaN,4.0,NaN,1.414214,True

In [ ]:
### Μοναδικές τιμές

In [65]:
df['embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

### A summary of columns

In [66]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body,ageSQRT
count,121.000000,121.0,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000
mean,2.165289,0.0,36.230423,0.347107,0.280992,31.888155,160.809917,5.898866
std,0.849972,0.0,14.146412,0.891728,0.848755,42.402709,97.696922,1.202392
min,1.000000,0.0,2.000000,0.000000,0.000000,0.000000,1.000000,1.414214
25%,1.000000,0.0,26.000000,0.000000,0.000000,8.050000,72.000000,5.099020
50%,2.000000,0.0,33.000000,0.000000,0.000000,14.454200,155.000000,5.744563
75%,3.000000,0.0,46.000000,0.000000,0.000000,29.700000,256.000000,6.782330
max,3.000000,0.0,71.000000,8.000000,5.000000,227.525000,328.000000,8.426150

### Άσκηση

1. Διαβάστε το αρχείο titanic.csv σε μεταβλητή με όνομα titanic
2. Πόσες σειρές έχει το αρχείο;
3. Αν μια στήλη έχει πάνω από το 50% NaN, διαγράψτε την
4. Όσες έχουν λιγότερο, χρησιμοποιήστε τη fillna με την ανάλογη τιμή. Ποια είναι αυτή για κάθε στήλη;
5. Ποια στήλη έχει τη μεγαλύτερη διακύμανση;
6. Ποια η μέση τιμή του εισιτηρίου;